{% extends "base.html" %}

{% import 'icons.j2' as icons %}
{% block content %}
<div class="panel mx-auto w-1/2">
    <h1>{{ txt_upcoming_dates }}</h1>
    <div>
        {% for important_event in important_events %}
        <div class="grid grid-cols-5 bg-primary-900 p-4 m-2 rounded-md shadow-lg shadow-blue-500">
            <div class="col-span-4 flex flex-col">
                <span>
                    {{ friend_names[important_event.friend_id] }}
                </span>
                <span>
                {{ important_event.name }}
                </span>
            </div>
            <div class="col-span-1 flex flex-col">
                <div class="text-xs">
                    {{ important_event.date }}
                </div>
                <div class="text-6xl">
                    {{ important_event.days_until }}
                </div>
                <div class="text-xs">
                    {{ txt_days_left }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}