{% extends "base.html" %}

{% import 'icons.j2' as icons %}
{% block content %}
<div class="flex flex-col w-full xl:w-3/5 justify-center lg:items-start overflow-y-hidden">
    <div class="panel">
        <h1 class="text-2xl font-bold mb-4">{{ txt_friends }}</h1>
        <ul class="space-y-2">
            {% if not friends %}
            <li><a href="/generate_demo_data" class="text-primary-500 hover:underline" >{{ txt_generate_demo_data }}</a></li>
            <li>{{ txt_no_friends }}</li>
            {% endif %}
            {% for friend in friends %}
            <li class="flex items-center">
                <div class="flex justify-between w-full">
                    <div>{{ friend.first_name }} {{ friend.last_name }}</div>
                    <div class="flex gap-2">
                    {% if friend.receives_birthday_gift and friends_alerts[friend.id]['days_until_birthday']<=current_user.settings.get('birthday_reminder_days',20) %}
                        <div class="chip chip-secondary">
                            <span class="">{{ txt_chip_birthday }}</span>
                        </div>
                    {% endif %}
                    {% if friend.receives_christmas_gift and friends_alerts[friend.id]['days_until_christmas']<=current_user.settings.get('christmas_reminder_days',20) %}
                        <div class="chip chip-secondary">
                            <span class="">{{ txt_chip_christmas }}</span>
                        </div>
                    {% endif %}
                    {% if friends_alerts[friend.id]['days_since_last_interaction']>=current_user.settings.get('keep_in_touch_interval',14) %}
                        <div class="chip chip-primary">
                            <span class="">{{ txt_chip_keep_in_touch }}</span>
                        </div>
                    {% endif %}
                    {% if friends_alerts[friend.id]['important_events'] %}
                        <div class="chip chip-warning" title="{% for imp_ev,ev_date in friends_alerts[friend.id]['important_events'] %}{{imp_ev}}({{ev_date}}), {% endfor %}">
                            <span class="">{{ txt_chip_important_date }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% if friends_alerts[friend.id]['gift_ideas']<current_user.settings.get('minimum_gift_ideas',1) %}
                        <div class="chip chip-warning">
                            <span class="">{{ txt_chip_gift_ideas }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="flex gap-2">
                        <a href="/friends/{{ friend.id }}" class="btn-icon-rainbow">
                            {{ icons.eye() }}
                        </a>
                        <a href="/delete_friend/{{ friend.id }}" class="btn-icon-rainbow">
                            {{ icons.trash() }}
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="w-full xl:w-2/5 px-12 overflow-hidden">
    <div class="panel">
        <h2 class="text-xl font-bold mb-4">{{ txt_add_new_friend }}</h2>
        <form action="/add_friend" method="post">
            {% set friend=False %}
            {% include "friend_form.html" %}
            <button type="submit" class="btn-rainbow">{{ txt_add_friend }}</button>
        </form>
    </div>
</div>

{% endblock %}