{% extends "base.html" %}

{% import 'icons.j2' as icons %}
{% block content %}
<div class="flex flex-col w-full xl:w-3/5 justify-start lg:items-start overflow-y-hidden">
    <div class="panel">
        <h1 class="text-2xl font-bold mb-4">{{ friend.first_name }} {{ friend.last_name }}</h1>
        <h2 class="text-xl font-bold mb-4">{{ txt_last_interactions }}</h2>
        <div class="flex flex-row flex-wrap gap-4">
            <a href="/new_interaction/{{friend.id}}" class="w-32 h-32 border-secondary-700 hover:border-secondary-500 border-4 rounded-lg text-9xl text-center hover:text-primary-300">+</a>
            {% for interaction in interactions %}
            <div class="w-32 h-32 border-secondary-700 hover:border-secondary-500 border-4 rounded-lg relative {% if interaction.ask_again %} animate-pulse {% endif %}">
                <div class="absolute w-full h-full text-gray-800 -z-10">
                    {% if interaction.via == InteractionViaType.email %}
                    {{ icons.email("w-full h-full") }}
                    {% elif interaction.via == InteractionViaType.telephone %}
                    {{ icons.telephone("w-full h-full") }}
                    {% elif interaction.via == InteractionViaType.messenger %}
                    {{ icons.messenger("w-full h-full") }}
                    {% elif interaction.via == InteractionViaType.in_person %}
                    {{ icons.in_person("w-full h-full") }}
                    {% else %}
                    {{ icons.missing("w-full h-full") }}
                    {% endif %}
                </div>
                <div class="absolute top-0 px-2 py-1 text-center w-full">
                    {{ interaction.date.strftime("%d.%m.%Y") }}
                </div>
                <div class="absolute top-6 px-2 py-1 text-center w-full text-wrap h-24 overflow-clip">
                    {{ interaction.talking_points}}
                </div>
            </div>
            {% endfor %}
        </div>
        <h2 class="text-xl font-bold mb-4">{{ txt_gift_ideas }}</h2>
        <div class="flex flex-row flex-wrap gap-4">
            <a href="/new_gift_idea?friend_id={{friend.id}}" class="w-32 h-32 border-tertiary-900 hover:border-tertiary-500 border-4 rounded-lg text-9xl text-center hover:text-primary-300">+</a>
            {% for gift in gift_ideas %}
            <div class="w-32 h-32 border-tertiary-900 hover:border-tertiary-500 border-4 rounded-lg flex flex-col p-1">
                <div class="text-center text-wrap w-full h-28 overflow-hidden">
                    {{ gift.name }}
                    {{ gift.description}}
                </div>
            </div>
            {% endfor %}
        </div>
        <h2 class="text-xl font-bold mb-4">{{ txt_next_events }}</h2>
        <div class="flex flex-row flex-wrap gap-4">
            <a href="/new_important_event?friend_id={{friend.id}}" class="w-32 h-32 border-primary-900 hover:border-primary-500 border-4 rounded-lg text-9xl text-center hover:text-primary-300">+</a>
            {% for event in important_events %}
            <div class="w-32 h-32 border-primary-900 hover:border-primary-500 border-4 rounded-lg flex flex-col p-1">
                <div class="text-center w-full">
                    {{ event.date.strftime("%d.%m.%Y") }}
                </div>
                <div class="text-center text-wrap w-full h-24 overflow-hidden">
                    <b>{{ event.name }}</b>
                    {{ event.description}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="w-full xl:w-2/5 px-12 overflow-hidden">
    <div class="panel">

        <form action="/edit_friend/{{friend.id}}" method="post">
            {% include "friend_form.html" %}
            <button type="submit" class="btn-rainbow">{{ txt_edit_friend }}</button>
        </form>
    </div>
</div>
{% endblock %}