{% extends 'base.html' %} {% block content %}
<div class="w-full md:w-1/2 mx-auto">
  <div class="panel">
    <h1 class="text-2xl font-bold mb-4">{{ txt_create_gift_for }} {{ friend.first_name }}</h1>
    <form class="max-w-sm mx-auto" action="/add_gift_idea/{{friend.id}}" method="post">
      <div class="mb-4">
        <label for="new_gift_idea" class="block font-bold" >{{ txt_gift_idea }}</label >
        <input class="form-field" type="text" name="new_gift_idea" id="new_gift_idea" />
      </div>
      <button type="submit" class="btn-rainbow">{{ txt_save }}</button>
    </form>
  </div>
</div>
{% endblock %}
