{% extends "base.html" %}

{% import 'icons.j2' as icons %}
{% block content %}

<div class="flex flex-col w-full xl:w-2/5 justify-start lg:items-start overflow-y-hidden" >
    <div class="panel" >
    
        <h1 class="text-2xl font-bold mb-4">{{ txt_new_interaction_with }} {{ friend.first_name }}</h1>
    <form action="/add_interaction/{{friend.id}}" method="post">
      <div class="flex flex-col items-stretch w-full">
        <label for="date" class="block font-bold" >{{ txt_date }}</label >
        <input class="form-field" type="date" name="date" value="{{date}}" id="date" />
      </div>
    <div class="flex flex-col items-stretch w-full">
      <label for="talking_points" class="block font-bold" >{{ txt_talking_points }}</label >
      <textarea class="form-field" name="talking_points" id="talking_points"></textarea >
    </div>
      <div class="flex items-center mt-4">
        <input id="default-radio-1" type="radio" value="telephone" name="via" class="form-radio" />
        <label for="default-radio-1" class="block font-bold" >{{ txt_via_telephone }}</label >
      </div>
      <div class="flex items-center">
        <input id="default-radio-2" type="radio" value="email" name="via" class="form-radio" />
        <label for="default-radio-2" class="block font-bold" >{{ txt_via_email }}</label >
      </div>
      <div class="flex items-center">
        <input id="default-radio-3" type="radio" value="messenger" name="via" class="form-radio" />
        <label for="default-radio-3" class="block font-bold" >{{ txt_via_messenger }}</label >
      </div>
      <div class="flex items-center">
        <input id="default-radio-4" type="radio" value="in_person" name="via" class="form-radio" />
        <label for="default-radio-4" class="block font-bold" >{{ txt_via_in_person }}</label >
      </div>
      <div class="flex items-center my-4">
        <input id="ask_again" type="checkbox" value="" name="ask_again" class="form-radio" />
        <label for="ask_again" class="block font-bold" >{{ txt_ask_again}}</label >
      </div>
      <button type="submit" class="btn-rainbow">{{ txt_save }}</button>
    </form>
  </div>

</div>
<div class="w-full xl:w-3/5 px-12 overflow-hidden">
    <div class="panel" >

    <div class="flex flex-col items-stretch w-full">
      <label for="notes" class="block font-bold" >{{ txt_notes_for }} {{ friend.first_name }}</label >
      <textarea class="form-field" name="notes" id="notes"> {{ friend.notes}}</textarea >
    </div>

    <h2 class="text-xl font-bold mb-4">{{ txt_opener_suggestions }}</h2>
    <ul>
      {% for suggestion in talking_point_suggstions %}
      <li class="mb-2">
      {{ suggestion.point }}
      <a class="rounded-full border-primary-100 p-0 w-9 h-9 border-2" href="/delete_talking_point/{{suggestion.id}}">{{ icons.x_mark("inline w-6 h-6") }}</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/add_talking_point/{{friend.id}}" method="post">
      <div class="flex flex-col items-stretch w-full">
        <label for="new_talking_point" class="block font-bold" >{{ txt_talking_point }}</label >
        <input class="form-field" type="text" name="new_talking_point" id="new_talking_point" />
      </div>
      <button type="submit" class="btn-rainbow mt-2">{{ txt_save }}</button>
    </form>
    <h2 class="text-xl font-bold mb-4">{{ txt_gift_ideas }}</h2>
    <ul>
      {% for gift_idea in gift_ideas %}
      <li class="mb-2">
      {{ gift_idea.name }}
      <a class="rounded-full border-primary-100 p-0 w-9 h-9 border-2" href="/delete_gift_idea/{{gift_idea.id}}">{{ icons.x_mark("inline w-6 h-6") }}</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/add_gift_idea/{{friend.id}}" method="post">
      <div class="flex flex-col items-stretch w-full">
        <label for="new_gift_idea" class="block font-bold" >{{ txt_gift_idea }}</label >
        <input class="form-field" type="text" name="new_gift_idea" id="new_gift_idea" />
      </div>
      <button type="submit" class="btn-rainbow mt-2">{{ txt_save }}</button>
    </form>
    <h2 class="text-xl font-bold mb-4">{{ txt_important_events }}</h2>
    <ul>
      {% for important_event in important_events %}
      <li class="mb-2">
      {{ important_event.name }} ({{ important_event.date }})
      <a class="rounded-full border-primary-100 p-0 w-9 h-9 border-2" href="/delete_important_event/{{important_event.id}}">{{ icons.x_mark("inline w-6 h-6") }}</a>
      </li>
      {% endfor %}
    </ul>
    <form action="/add_important_event/{{friend.id}}" method="post">
      <div class="flex flex-col items-stretch w-full">
        <label for="new_important_event" class="block font-bold" >{{ txt_important_event }}</label >
        <input class="form-field" type="text" name="new_important_event" id="new_important_event" />
      </div>
        <div class="flex flex-col items-stretch w-full">
            <label for="new_important_event_date" class="block font-bold" >{{ txt_date }}</label >
            <input class="form-field" type="date" name="new_important_event_date" id="new_important_event_date" />
        </div>
      <div class="flex flex-col items-stretch w-full">
        <label for="new_important_event_details" class="block font-bold" >{{ txt_details }}</label >
        <textarea class="form-field" type="text" name="new_important_event_details" id="new_important_event_details"></textarea>
      </div>
      <div class="mb-4 flex flex-row gap-4">
        <label for="requires_gift" class="block font-bold">{{ txt_requires_gift}}:</label>
        <input type="checkbox" id="requires_gift" name="requires_gift">
    </div>
      <button type="submit" class="btn-rainbow mt-2">{{ txt_save }}</button>
    </form>
  </div>
</div>
{% endblock %}
