{% extends 'base.html' %} {% block content %}
<div class="w-1/2">
  <div class="panel">
    <h1 class="text-2xl font-bold mb-4">{{ txt_reset_password }}</h1>
    <form class="max-w-sm mx-auto" method="post">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2" >{{ txt_email }}</label >
        <input type="email" id="email" name="email" class="form-field" required />
      </div>
      <button type="submit" class="btn-rainbow">{{ txt_save }}</button>
      <p>{{ txt_reset_explanation }}</p>
    </form>
  </div>
</div>
{% endblock %}
